@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

html, body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.auth__main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #036ae3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  background-color: white;
  -webkit-box-shadow: 0px 3px #363636;
          box-shadow: 0px 3px #363636;
  border-radius: 2px;
  border-radius: 2px;
  padding: 20px;
  width: 250px;
}

.auth__title {
  color: #023b7e;
  margin-bottom: 20px;
}

.auth__input {
  color: #363636;
  border: 0px;
  border-bottom: 1px solid #D8D8D8;
  font-size: 16px;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  -webkit-transition: border-bottom .3s ease;
  transition: border-bottom .3s ease;
}

.auth__input:focus {
  outline: none;
  border-bottom: 1px solid #036ae3;
}

.auth__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #e6e6e6;
}

.btn-primary {
  background-color: #036ae3;
  border-radius: 2px;
}

.btn-primary:disabled {
  background-color: #036ce8;
}

.btn-primary:hover {
  background-color: #024797;
}

.btn-block {
  width: 100%;
}

.btn-danger {
  background-color: red;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.btn-danger:disabled {
  background-color: #ff0505;
}

.btn-danger:hover {
  background-color: #cc0000;
}

.google-btn {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 40px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.google-btn:hover {
  -webkit-box-shadow: 0 0 6px #4285f4;
          box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669f2;
}

button[type=submit]:disabled {
  cursor: not-allowed;
}

.link {
  color: #363636;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.journal__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media screen and (min-width: 0) {
  .journal__main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
  }
}

@media screen and (min-width: 992px) {
  .journal__main-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
}

.journal__sidebar {
  background-color: #363636;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 450px;
}

@media screen and (min-width: 0) {
  .journal__sidebar {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .journal__sidebar {
    width: 400px;
  }
}

.journal__sidebar-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  width: 100%;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.journal__new-entry:hover {
  color: #cccccc;
}

.journal__entries {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 30px;
  overflow-x: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 96%;
}

.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.journal__entry-picture {
  height: 75px;
  width: 75px;
}

.journal__entry-body {
  padding: 10px;
}

.journal__entry-title {
  font-size: 12px;
  font-weight: bold;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.journal__entry-content {
  width: 180px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.journal__entry-date-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.journal__entry-date-box span {
  font-size: 12px;
}

.nothing__main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #036ae3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.nothing__main-content p {
  text-align: center;
}

.notes__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.notes__appbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #036ae3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes__title-input, .notes__textarea {
  border: none;
}

.notes__title-input:focus, .notes__textarea:focus {
  outline: none;
}

.notes__title-input {
  color: #363636;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 2px;
}

.notes__textarea {
  border: 1px solid black;
  color: #363636;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  resize: none;
  border: none;
}

.notes__image img {
  -webkit-box-shadow: 5px 5px #363636;
          box-shadow: 5px 5px #363636;
  height: 150px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #492af580;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */